@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after{
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
  width: 100%;
  background-color: #000;
  scrollbar-color: #00ffff #303030;
  scrollbar-width: thin;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

/* Header Section Code */
.nav{
  width: 100%;
  height: 50px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-part-first ul a{
  color: #fff;
  text-decoration: none;
  padding-left: 50px;
}

.nav-part-second i{
  color: #fff;
}

.nav-part-second span{
  color: #fff;
  padding-right: 50px;
}

#hamburger{
  display: none;
}

#cross{
  display: none;
}

/* Home Section Code */
.home{
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-content{
  padding-top: 200px;
  margin-left: 150px;
}

.home h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 45px;
}

#latish{
  font-weight: lighter;
}

#suryawanshi{
  font-weight: bolder;
}

.home p{
  color: #fff;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 6px;
  text-align: left;
}

.multiple-text{
  min-height: 30px;
}

.home-buttons{
  margin-left: 150px;
  margin-top: 40px;
}

.home-buttons button{
  width: 180px;
  height: 35px;
  background: none;
  border: 0.5px solid white;
  border-radius: 40px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

button:hover{
  transition: 0.5s ease-in-out;
  background-color: #00ffff;
  color: #000;
}

.social-logos{
  margin-left: 150px;
  margin-top: 125px;
}

.social-logos i{
  color: #fff;
  font-size: 35px;
  padding-left: 20px;
}

.social-logos i:hover{
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
  color: #00ffff;
  cursor: pointer;
}

/* About Section Code */
.about{
  width: 100%;
  height: 600px;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/anime-pic.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-para{
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-left: 150px;
}

.about-img img{
  height: 700px;
}

.about-content-first h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 2;
}

.about-content-first p{
  color: #fff;
}

.about-content-second{
  width: 500px;
}

.about-content-second p{
  color: #fff;
  line-height: 1.4;
}

.main-para span{
  color: #fff;
}

/* Resume Section Code */
.resume{
  width: 100%;
  height: 600px;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
}

.all-boxes{
  display: flex;
  gap: 75px;
}

.resume-content-first{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.resume-content-first h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.first{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.resume-box1{
  margin-top: 40px;
}

.resume-box1 i{
  color: #fff;
  font-size: 25px;
  min-width: 30px;
}

.resume-box1 span{
  font-size: 20px;
  color: #fff;
  min-width: 60px;
}

input[type="range"]{
  pointer-events: none;
  accent-color: #00ffff;
}

.resume-box2 .first{
  display: flex;
  align-items: center;
  gap: 20px;
}

.resume-box2 h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.resume-box2 span{
  font-size: 20px;
  color: #fff;
  min-width: 80px;
}

.resume-box3 h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.resume-box3 span{
  font-size: 14px;
  color: #fff;
}

.resume-content-second{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.resume-box4{
  margin-top: 40px;
}

.resume-box4 h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.second{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.second span{
  font-size: 20px;
  color: #fff;
}

.second p{
  font-size: 14px;
  color: #fff;
}

.resume-box5 h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.box5-p{
  width: 325px;
}

.third{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.third span{
  color: #fff;
  font-size: 20px;
}

.third .special-p{
  font-size: 18px;
}

.third p{
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

.resume-box6 h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.box3-all{
  display: flex;
  flex-direction: column;
}

#music{
  padding-left: 10px;
}

.resume-box6 .fourth{
  display: flex;
}

.fourth i{
  color: #fff;
  font-size: 18px;
}

.fourth span{
  color: #fff;
  font-size: 20px;
  padding-left: 5px;
}

.resume-content-third{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.resume-box7{
  margin-top: 40px;
}

.resume-box7 h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.resume-box7 span{
  color: #fff;
  font-size: 20px;
}

.resume-box7 i{
  color: #fff;
  font-size: 18px;
}

/* Responsive Design Code */
/* For Mobile Devices */
/* #Section - 1 */
@media (max-width: 767px){
  .nav{
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  #hamburger{
    display: block;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
  }

  #cross{
    display: none;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
  }

  .nav-part-first.active #hamburger{
    display: none;
  }

  .nav-part-first.active #cross{
    display: block;
  }

  .nav-links{
    width: 70%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #222;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    gap: 50px;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links.active{
    display: flex;
  }

  .nav-part-second span{
    padding-right: 20px;
  }

  .home-content{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home p{
    font-size: 24.5px;
  }

  .home-buttons{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .home-buttons button{
    width: 170px;
  }

  .social-logos{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/anime-pic.png");
    flex-direction: column;
    justify-content: center;
    text-align: justify;
  }

  .main-para{
    margin-left: 0;
    gap: 50px;
    align-items: center;
  }

  .about-content-first{
    text-align: center;
  }

  .about-content-second{
    display: flex;
    justify-content: center;
  }

  .about-content-second p{
    font-size: 17px;
  }

  .intro-text{
    width: 375px;
  }

  .third-p{
    width: 305px;
  }

  .resume{
    height: auto;
    flex-direction: column;
    justify-content: unset;
  }

  .all-boxes{
    flex-direction: column;
    gap: 0px;
  }

  .resume-box1{
    margin-top: 50px;
  }

  .resume-box1 span{
    min-width: 65px;
  }

  .resume-box1,
  .resume-box2,
  .resume-box3,
  .resume-box4,
  .resume-box5,
  .resume-box6,
  .resume-box7{
    width: 400px;
    padding: 30px;
    background-color: #222;
    border-radius: 8px;
  }

  .resume-box1:hover,
  .resume-box2:hover,
  .resume-box3:hover,
  .resume-box4:hover,
  .resume-box5:hover,
  .resume-box6:hover,
  .resume-box7:hover{
    box-shadow: 0 0 5px #00ffff;
    transition: all 0.5s ease;
  }

  .resume-content-first{
    align-items: center;
  }

  .resume-content-second{
    align-items: center;
  }

  .resume-content-third{
    align-items: center;
    margin-bottom: 1px;
  }
}

/* #Section - 2 */
@media (min-width: 350px) and (max-width: 400px){
  .resume-content-first h2{
    width: 300px;
  }

  .intro-text{
    width: 350px;
  }

  .resume-box1,
  .resume-box2,
  .resume-box3,
  .resume-box4,
  .resume-box5,
  .resume-box6,
  .resume-box7{
    width: 350px;
  }
}

/* #Section - 3 */
@media (width: 344px){
  .about{
    height: 675px;
  }

  .intro-text{
    width: 325px;
  }

  .box5-p{
    width: 250px;
  }

  .resume-box1,
  .resume-box2,
  .resume-box3,
  .resume-box4,
  .resume-box5,
  .resume-box6,
  .resume-box7{
    width: 300px;
  }

  .box7-p{
    position: absolute;
    width: 250px;
    margin-left: 5px;
  }
}

/* For Tablet Devices */
/* #Section - 1 */
@media (min-width: 767px) and (max-width: 1023px){
  .home-content{
    margin-left: 20px;
  }

  .home-buttons{
    margin-left: 20px;
  }

  .social-logos{
    margin-left: 20px;
  }

  .about{
    height: 675px;
  }

  .main-para{
    margin-left: 20px;
  }

  .intro-text{
    width: 350px;
    text-align: justify;
  }

  .box5-p{
    width: 250px;
  }

  .resume{
    height: auto;
  }

  .all-boxes{
    gap: 0;
  }

  .resume-content-first,
  .resume-content-second,
  .resume-content-third{
    padding-left: 15px;
  }

  #websites, #code{
    padding-left: 20px;
  }
}

/* #Section - 2 */
@media (width: 540px){
  .about{
    background-position: center;
  }
}

/* #Section - 3 */
@media (width: 1024px){
  .resume{
    height: auto;
    margin-bottom: 1px;
  }

  .home-content{
    margin-left: 60px;
  }

  .home-buttons{
    margin-left: 60px;
  }

  .social-logos{
    margin-left: 60px;
  }

  .main-para{
    margin-left: 10px;
    text-align: justify;
  }

  .all-boxes{
    gap: 50px;
  }
}

/* #Section - 4 */
@media (width: 912px){
  #websites, #code{
    padding-left: 0;
  }
}

/* #Section - 5 */
@media (width: 853px){
  #websites, #code{
    padding-left: 0;
  }
}

/* For 1280PX Device */
@media (width: 1280px){
  .home-content{
    margin-left: 60px;
  }

  .home-buttons{
    margin-left: 60px;
  }

  .social-logos{
    margin-left: 60px;
  }

  .about{
    height: 625px;
  }

  .main-para{
    margin-left: 60px;
  }

  .intro-text{
    font-size: 18px;
    text-align: justify;
  }

  .box5-p{
    width: 250px;
  }

  .resume{
    height: auto;
    margin-bottom: 1px;
  }
  
  .all-boxes{
    display: flex;
    gap: 175px;
  }
}